<ion-view view-title="Carrinho" class="store cart-page">
  <ion-nav-buttons side="right">
    <cart-button></cart-button>
    <menu-toggle-right-button></menu-toggle-right-button>
  </ion-nav-buttons>

  <app-loader data-model="loading"></app-loader>

  <ion-content class="white-content has-header">
    <top-bar-light></top-bar-light>


    <div class="cart-personalization-list" data-ng-if="!loading">
      <div data-ng-if="cart.getCartItens().length == 0">
        Sem itens no carrinho
      </div>
      <div class="cart-personalization-item row row-center" data-ng-repeat="cartItem in cart.getCartItens()" data-ng-if="cart.getCartItens().length > 0">
        <!-- <div class="col col-75">
          <div class="row row-center">

          </div>
        </div> -->

        <div class="col col-10">
          <a href="javascript://" class="cart-exclude-item-button" data-ng-click="delete(cartItem)">
            <i class="cart-exclude-item m-auto"></i>
          </a>
        </div>

        <div class="col col-20">
          <img data-ng-src="{{ cartItem.getProductImage() }}" alt="" class="w-100">
        </div>

        <div class="col cart-description">
          {{ cartItem.getName() }} <br>
          Quantidade: <b>{{ cartItem.get('quantity') }}</b>
        </div>

        <div class="col cart-price-col col-20">
          <span class="cart-price">
            {{ cartItem.getPriceInReal() | currency:'R$' }}
          </span>
          <div>
            <a href="#">
              <i class="cart-personalization-edit"></i>
            </a>

            <a href="#">
              <i class="cart-personalization-car"></i>
            </a>
          </div>
        </div>

      </div>
    </div>

  </ion-content>
</ion-view>
