<!DOCTYPE html>
<html ng-app="stater">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

	<link href="lib/ionic/css/ionic.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

	<script src="lib/ionic/js/ionic.bundle.js"></script>

	<script src="cordova.js"></script>

	<script src="js/app.js"></script>
</head>

<body>

	<ion-side-menus>
	<ion-side-menu side="right">
</ion-side-menu>

<ion-side-menu-content>
<!-- Main content, usually <ion-nav-view> -->
<ion-nav-bar>
<ion-nav-buttons side="right">
<!-- Toggle right side menu -->
<button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
</ion-nav-bar>
<ion-content class="text-center">

<div class="padding" style="padding-top: 80px;">
	<div class="list">
		<a class="item item-thumbnail-left" href="#" style="background-color:#8B008B">
			<h2 style="color:#fff">LOJA VIRTUAL</h2>
			<p style="color:#fff">PRESENTES</p>
		</a>

		<a class="item item-thumbnail-left" href="#/agenda" style="background-color:#FF1493" ng-click="agenda()">
			<h2>AGENDA</h2>
			<p>LEMBRETES</p>
		</a>

		<a class="item item-thumbnail-left" href="#" style="background-color:#FF6347">
			<h2>INDICAÇOES</h2>
			<p>SUGESTOES</p>
		</a>

		<a class="item item-thumbnail-left" href="#" style="background-color:#FF8C00">
			<h2>CLUBE DE VANTAGENS</h2>
			<p>BONUS</p>
		</a>

	</div>
</div>
</ion-content>	
</ion-side-menu-content>

<!-- Right menu -->
<ion-side-menu side="right">
</ion-side-menu>

</ion-side-menus>




</body>
</html>
