<ion-view view-title="Login">
  <ion-content class="text-center login" >
    <div class="app-padding">
      <img src="img/home-logo@2x.png" class="img-home-logo">

      <div class="list">
        <form name="loginForm">
          
          <label class="item item-input white-opacity-3" data-ng-class="{error: loginForm.email.$invalid && loginForm.email.$touched}">
            <span class="white-mail"></span>
            <input type="email" placeholder="E-mail" name="email" ng-model="user.email" required="">
          </label>

          <label class="item item-input white-opacity-3" data-ng-class="{error: loginForm.password.$invalid && loginForm.password.$touched}">
            <span class="white-lock"></span>
            <input type="password" placeholder="Senha" name="password" ng-model="user.password" required="">
          </label>

          <button class="submit submit-blue" ng-click="signIn(user)" data-ng-disabled="loginForm.$invalid">
            Entrar
          </button>
        </form>

        <div class="lines-sided ou">
          <div class="content-wrapper">
            ou
          </div>
        </div>

        <a href="#" class="facebook-login">
          <span class="facebook-icon"></span>
          Entrar com Facebook
        </a>

        <p>
          <a href="#/password_recovery">Esqueceu a senha?</a>
        </p>

        <p>
          <a href="#/registration/new" ng-click="createAccount()">Cadastre-se</a>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>