<ion-view view-title="Login" hide-nav-bar="true">
  <ion-content class="text-center login" >
    <div class="app-padding">
      <img src="img/home-logo@2x.png" class="img-home-logo">

      <div class="list">
        <form name="loginForm" data-ng-submit="login()">

          <label class="item item-input white-opacity-3" data-ng-class="{error: loginForm.email.$invalid && loginForm.email.$touched}">
            <span class="white-mail"></span>
            <input type="email" placeholder="E-mail" name="email" ng-model="user.email" required="">
          </label>

          <label class="item item-input white-opacity-3" data-ng-class="{error: loginForm.password.$invalid && loginForm.password.$touched}">
            <span class="white-lock"></span>
            <input type="password" placeholder="Senha" name="password" ng-model="user.password" required="">
          </label>

          <button type="submit" class="submit submit-blue" data-ng-disabled="loginForm.$invalid">
            Entrar
          </button>

          <div data-ng-if="login_error" class="error">
            {{ login_error }}
          </div>
        </form>

        <div class="lines-sided ou">
          <div class="content-wrapper">
            ou
          </div>
        </div>

        <div data-ng-if="!UserService.current_user">
          <a href="javascript://" class="facebook-login" data-ng-click="facebookLogin()">
            <span class="facebook-icon"></span>
            Entrar com Facebook
          </a>

          <p>
            <a href="#/password_recovery"> Esqueceu a senha?</a>
          </p>

          <p>
            <a href="#/registration/new"> Cadastre-se</a>
          </p>
        </div>


        <div data-ng-if="UserService.current_user"></div>
        <div>
          <p>
            <a href="#/modules_list">Ir para módulos</a>
            <a href="#/produtos">Produtos</a>
          </p>
        </div>

        <p>
          <a href="#/indicacao">
            Modulo de indicações
          </a>
        </p>

      </div>
    </div>
  </ion-content>
</ion-view>
