<ion-view view-title="Sign-In">
  <ion-content class="text-center login" >
    <div class="app-padding">
      <img src="img/home-logo@2x.png" class="img-home-logo">

      <div class="list">
        <label class="item item-input white-opacity-3">
          <span class="white-mail"></span>
          <input type="email" placeholder="E-mail" ng-model="user.email">
        </label>

        <label class="item item-input white-opacity-3">
          <span class="white-lock"></span>
          <input type="password" placeholder="Senha" ng-model="user.password">
        </label>

        <button class="submit submit-blue" ng-click="signIn(user)">
          Entrar
        </button>

        <div class="lines-sided ou">
          <div class="content-wrapper">
            ou
          </div>
        </div>

        <a href="#" class="facebook-login">
          <span class="facebook-icon"></span>
          Entrar com Facebook
        </a>

        <p>
          <a href="#/password_recovery">Esqueceu a senha?</a>
        </p>

        <p>
          <a href="#/registration/new" ng-click="createAccount()">Cadastre-se</a>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>