<ion-view>
  <ion-content class="has-header full-height-scroll">
    <ul class="modules_list full-height">

      <li class="module store">
        <a href="javascript://">
          <div class="app-padding">
            <div class="row-wrap">
              <div class="row">
                <div class="col icon-col tabler">
                  <div class="middler">
                    <span class="module-store icon"></span>
                  </div>
                </div>

                <div class="col tabler">
                  <div class="middler">
                    <div class="title">
                      Loja Virtual
                    </div>
                    <div class="subtitle">
                      Presentes
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="module agenda">
        <a href="javascript://">
          <div class="app-padding">
            <div class="row-wrap">
              <div class="row">
                <div class="col icon-col tabler">
                  <div class="middler">
                    <span class="module-agenda icon"></span>
                  </div>
                </div>

                <div class="col tabler">
                  <div class="middler">
                    <div class="title">
                      Agenda
                    </div>
                    <div class="subtitle">
                      Lembretes
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="module indications">
        <a href="javascript://">
          <div class="app-padding">
            <div class="row-wrap">
              <div class="row">
                <div class="col icon-col tabler">
                  <div class="middler">
                    <span class="module-indications icon"></span>
                  </div>
                </div>

                <div class="col tabler">
                  <div class="middler">
                    <div class="title">
                      Indicações
                    </div>
                    <div class="subtitle">
                      Sugestões
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="module club">
        <a href="javascript://">
          <div class="app-padding">
            <div class="row-wrap">
              <div class="row">
                <div class="col icon-col tabler">
                  <div class="middler">
                    <span class="module-club icon"></span>
                  </div>
                </div>

                <div class="col tabler">
                  <div class="middler">
                    <div class="title">
                      Clube de <br> vantagens
                    </div>
                    <div class="subtitle">
                      Bônus
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>

    </ul>

  </ion-content>
</ion-view>
