<ion-view>
  <ion-content class="text-center login">
    <div class="app-padding">
      <img src="img/home-logo@2x.png" class="img-home-logo">

      <form name="passwordRecoveryForm">
        <div class="list">
          <label class="item item-input white-opacity-3" data-ng-class="{error: passwordRecoveryForm.email.$invalid && passwordRecoveryForm.email.$touched}">
            <span class="white-mail"></span>
            <input type="email" placeholder="E-mail" name="email" ng-model="user.email" required="">
          </label>

          <button class="submit submit-blue" data-ng-disabled="passwordRecoveryForm.$invalid">
            Recuperar conta
          </button>
        </div>
      </form>

    </div>
  </ion-content>
</ion-view>
