<ion-view>
  <ion-content class="text-center registration_new" >
    <div class="app-padding">
      <img src="img/home-logo@2x.png" class="img-home-logo">

      <form name="registrationForm" data-ng-submit="signUp()">
        <div class="list">

          <img ng-src="{{ user.image_url }}" alt="" data-ng-if="user.image_url" class="fb-image">

          <div class="row-wrap">
            <div class="row">
              <div class="col">
                <label class="item item-input white-opacity-3" data-ng-class="{error: registrationForm.first_name.$invalid && registrationForm.first_name.$touched}">
                  <span class="little-avatar"></span>
                  <input type="text" placeholder="Nome" name="first_name" ng-model="user.first_name" required="">
                </label>
              </div>

              <div class="col">
                <label class="item item-input white-opacity-3" data-ng-class="{error: registrationForm.last_name.$invalid && registrationForm.last_name.$touched}">
                  <input type="text" placeholder="Sobrenome" name="last_name" ng-model="user.last_name" required="">
                </label>
              </div>

            </div>
          </div>
          <label class="item item-input white-opacity-3" data-ng-class="{error: registrationForm.email.$invalid && registrationForm.email.$touched}">
            <span class="white-mail"></span>
            <input type="email" placeholder="E-mail" name="email" ng-model="user.email" required="">
          </label>

          <div data-ng-if="has_email">
            Email já existe
          </div>

          <label class="item item-input white-opacity-3" data-ng-class="{error: registrationForm.password.$invalid && registrationForm.password.$touched}">
            <span class="white-lock"></span>
            <input type="password" placeholder="Senha" name="password" ng-model="user.password" required="">
          </label>

          <button type="submit" class="submit submit-blue" data-ng-disabled="registrationForm.$invalid && !has_email">
            Criar conta
          </button>

        </div>
      </form>

    </div>
  </ion-content>
</ion-view>
