html {
    min-height: 100%;
    font-weight: 300;
}

a {
    text-decoration: none;
}

.menu-button {
  color: white;
  margin-top: 8px;
  display: inline-block;
  font-weight: bold;
  margin-right: 7px;
}

ion-view {
    background: image-url("bg.png") no-repeat center center fixed !important;
    background-size: 100% 100% !important;
}

.pane {
    background: none;
}

.app-padding {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.gl-table-wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

  .gl-table-cell-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

.submit {
    display: block;
    width: 100%;
    height: 42px;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}

.submit-blue {
    background: #1bb9c4;
    color: white;
}

.lines-sided {
    overflow: hidden;
    width: 100%;

    .content-wrapper {
        position: relative;
        display: table;
        margin: 0 auto;

        &:before, &:after {
            display: block;
            content: "";
            width: 200px;
            height: 2px;
            background: white;
            @include opacity(0.3);
            position: absolute;
        }

        &:before {
            right: 100%;
            top: 50%;
            margin-right: 10px;
        }

        &:after {
            left: 100%;
            top: 50%;
            margin-left: 10px;
        }
    }
}

.row {
    width: auto;
    margin: 0 -5px;
    padding: 0;

    .col {
        padding-top: 0;
        padding-bottom: 0;
    }

    &.row-m-20 {
      margin: 0 15px;
    }
}

// custom tab
custom-tab {
    display: block;
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 10px;

    .back-button {
        color: white;
        font-size: 18px;
        font-weight: normal;
    }
}

button[disabled], input[disabled] {
    @include opacity(0.3);
}

.full-height {
    height: 100% !important;
}

.full-height-scroll > .scroll {
    height: 100% !important;
}

.back-button {
  background: none;
  border: none;
}

ion-view {
  &.store {
    background: #8944aa !important;
  }
}

ion-header-bar {
  .title {
    text-transform: uppercase;
    font-weight: 400 !important;
  }
}

.white-content {
  // white content
  background: white;
}

.w-100 {
  width: 100%;
}

.middle {
  text-align: middle;
}

.m-auto {
  margin: 0 auto;
}
