.img-home-logo {
    // width: image-width("home-logo.png");
    width: 225px;
}

@each $item in white-mail,
white-lock,
facebook-icon,
little-avatar,
module-store,
module-club,
module-indications,
module-agenda,
header-icon,
icon-cart,
icon-layout,
icon-theme,
cart-exclude-item,
cart-personalization-car,
cart-personalization-edit,
icon-product-info {
    .#{$item} {
        display: block;
        @include site-sprite("#{$item}@2x.png");
    }
}

.header-icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
}
