
<ion-view view-title="Loja Virtual" class="store">
  <ion-nav-buttons side="right">
    <cart-button></cart-button>
    <menu-toggle-right-button></menu-toggle-right-button>
  </ion-nav-buttons>

  <ion-content class="white-content has-header">
    <top-bar-light></top-bar-light>

    <small-categories-list></small-categories-list>

    <section class="product-list">
      <div class="row row-bottom" data-ng-repeat="chunck in productsChuncks">
        <article class="product" data-ng-repeat="product in chunck">
          <figure>
            <!-- h258 -->
            <img src="http://placehold.it/258x258" data-ng-src="{{ product.getSmallImage() }}" alt="">
          </figure>

          <div class="header">
            <h2 class="title">
              {{ product.getName() }}
            </h2>

            <a href="/produtos/{{ n }}" class="personalize">
              Personalizar
            </a>
          </div>
        </article>
      </div>
    </section>

  </ion-content>
</ion-view>
